<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/img/blog.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			Thái Thành Nam - 19110049 - Blog
		</a>
	</div>
</nav>